.icon {
    font-family: Bazooka , sans-serif;
    font-size: 26px;
    font-weight: bolder;
}
.navbar {
    background: #143F6B;
    color: #F6F6F6;
}
a {
    color: #F6F6F6;
}
a:hover {
    color: #F55353;
}