/*$primary: #143F6B;*/
/*$secondary: #F55353;*/
/*$accent: #F6F6F6;*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
  overflow-x: hidden;
  background-color: #F6F6F6;
}